<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Admin Dashboard</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.7.2/css/all.min.css" integrity="sha512-Evv84Mr4kqVGRNSgIGL/F/aIDqQb7xQ2vcrdIwxfjThSH8CSR7PBEakCr51Ck+w+/U6swU2Im1vVX0SVk9ABhg==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="stylesheet" href="/stylesheets/dash.css">
</head>
<body>

    <div class="sidebar">
        <h2>School Management</h2>
        <hr>
        <div class="nav-links">
          <a href="/admin"><i class="fa-solid fa-gauge-high"></i> <span>Home</span></a>
          <a href="/student"><i class="fa-solid fa-user"></i> <span>Students</span></a>
          <a href="/teacher"><i class="fa-solid fa-person-chalkboard"></i> <span>Teachers</span></a>
          <a href="/class" class="active"><i class="fa-solid fa-chalkboard-user"></i> <span>Class</span></a>
          <a href="/showCirculars"><i class="fa-solid fa-note-sticky"></i> <span>Circular</span></a>
          <a href="/admin-out"><i class="fa-solid fa-right-from-bracket"></i> <span>Logout</span></a>
        </div>
      </div>
    <div class="content">
        <div class="welcome">
            <h3>You can add or see Classes.</h3>
        </div>
        <div class="st">
            <a href="/addclass" class="box">
                <h2 style="font-size: 30px;">Add Class</h2>
                <p style="font-size: 22px; margin-top: 10px;">You can add class here.</p>
            </a>
            <a href="/showClass" class="box">
                <h2 style="font-size: 30px;">See class</h2>
                <p style="font-size: 22px; margin-top: 10px;">You can see class here.</p>
            </a>
        </div>
    </div>
</body>
</html> 